@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&display=swap');
*
{
    padding: 0;
    margin: 0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0d0c0c;
    font-family: "Roboto Slab", serif;
}
#form-cadastro {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 330px;
    
    gap: 10px;
    background-color: #F03A47;
    padding: 20px;
    border-radius: 10px;
}

#form-cadastro input
{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #0d0c0c;
    outline: none;
    font-size: 20px;
}

input[type="text"]::placeholder 
{
    font-size: 15px;
    color: #962930b8;
    font-family: "Roboto Slab", serif;
}

#botaoAvatar 
{
    width: 100px;
    height: 32px;
    background-color: #0d0c0c;
    color: #F03A47;
    font-weight: bold;

    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;

    border-radius: 10px;

    display: flex;             
    align-items: center;       
    justify-content: center; 
}
p 
{
   font-size: 18px;
}

#label{
    font-weight: bold;
    padding-bottom: 10px;
}
span {
    color: #962931;
    cursor: pointer;
}
a{
    color: #0d0c0c;
    font-weight: 800;
}

#menuNav {
    display: flex;
    align-items: center;
    justify-content: center;                
}

#navCadastrar, #navAvatar {
    display: flex;             
    flex-direction: column;    
    align-items: center;      
    margin: 0 10px;
    cursor: pointer;  
}

#iconePagina
{
    width: 25px;
    height: 25px;
    margin-bottom: 8px;
}

h1{
    font-size: 20px;
}

#nome-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F03A47;
    font-size: 20px;
    font-family: "Roboto Serif", serif;;

    width: 100%;
    padding: 10px 0; 
    position: fixed;
    top: 0;
    left: 0;
}
#logo{
    width: 40px;
    height: 25px;
}