/* SearchBar.module.css */

.inputText {
  border: none;
  border-bottom: 1px solid #F03A47;
  background-color: #100F0F;
  color: rgba(240, 58, 71, 0.4);
  margin-right: 10px;
  font-size: 16px;
  padding: 5px;
  flex-grow: 1;
}
